<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/style.css">

        <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-42689415-1', 'fela.biz');
          ga('send', 'pageview');
        </script>

    </head>
    <body>
<!--==============================header=================================-->
<header>
    <div class="main">
        <div class="wrapper">
            <h1><a class="normaltip" href="index.html" title="Zur Startseite">CarLoc von FELA</a></h1>
            <!-- <form id="search1">
                <input type="text" value="search" onBlur="if(this.value=='') this.value='search'" onFocus="if(this.value=='search') this.value=''"><a onClick="document.getElementById('search1').submit()"></a>
            </form>-->
            <ul class="oben">
                <li><a class="normaltip" href="kontakt.html" title="Kontakt">Kontakt</a></li>
                <li><a class="normaltip" title="Jobs" href="jobs.html">Jobs</a></li>
                <li><a class="normaltip" title="Downloads" href="downloads.html">Downloads</a></li>
                <li><a class="normaltip" title="CarLoc-Portal" href="http://central.carloc.ch" target="_blank">Portal</a></li>
      </ul>
            <br/>
            <ul class="obentel">
                <li><a class="normaltip" title="Call us">+41 52 646 46 46</a></li>
            </ul>
        </div>
    </div>
    <nav>
        <ul class="sf-menu">
            <li><a href="produktlinien.html">Produktlinien</a>
              <ul>
                <li><a href="http://www.easydrive.ch" target="_blank" title="Website der Produktlinie Easydrive im neuen Tab">Easydrive</a></li>
                <li><a href="http://www.carloc.ch" target="_blank" title="Website der Produktlinie CarLoc im neuen Tab">Carloc</a></li>
                <li><a href="http://www.switchpanel.ch" target="_blank" title="Website der Produktlinie Switch-Panel® im neuen Tab">Switch-Panel</a></li>
                <li><a href="http://www.adyna.ch" target="_blank" title="Website der Produktlinie Adyna im neuen Tab">Adyna</a></li>
                </ul>
           </li>
            <li><a href="branchen.html">Branchen</a></li>
            <li><a href="referenzen.html">Referenzen</a></li>
            <li><a href="pressemeldungen.html">News</a>
            <ul>
                    <li><a href="pressemeldungen.html">Pressemeldungen</a></li>
              <li><a href="news/messetermine.html">Messetermine</a></li>
      </ul>
            <li><a href="http://www.fela.ch" target="_blank">Gruppe</a>
              <ul>
                  <li><a href="fela-niederlassung.html">Niederlassungen</a></li>
                </ul>
            </li>
            <li><a href="unternehmen.html">Unternehmen</a>
        <ul>
                    <li><a href="verwaltungsrat.html">Verwaltungsrat</a></li>
                    <li><a href="geschaeftsleitung.html">Gesch&auml;ftsleitung</a></li>
        </ul>
      </li>
        </ul>
        <div class="clear"></div>
    </nav>
     </header>

<!--==============================content================================-->
<section id="content">
  <div class="line line2"></div>
    <div class="container_24">
      <div class="wrapper">
          {{ content }}
    </div>
</section>


<!--==============================footer=================================-->
<footer>
  <div class="line"></div>
  <div class="container_24">
      <article class="grid_11_footer">
        <ul class="jcarousel-skin-tango_6">
         <li>
          <a class="normaltip" href="http://www.fela.ch" target="_blank" title="Elektronik Gruppe FELA, Kompetenz aus &uuml;ber 45 Jahren Erfahrung">
                    <img src="images/logos/fela_footer.jpg" width="81" hight="40" alt="Elektronik Gruppe FELA, Kompetenz aus &uuml;ber 45 Jahren Erfahrung"></a>
    </li>
            </ul>
                </article>
           <div class="reg">
            <p>Fela Management AG
             Basadingerstrasse 18, CH-8253 Diessenhofen, Schweiz<br />
            <span class="phone">Tel: +41 52 646 46 46, Fax: +41 52 646 46 96</span> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%66%65%6C%61%2E%63%68">Mail</a></p>
            <p>© 2013, FELA Management AG: <a class="normaltip" href="impressum.html" title="Impressum">Impressum</a> <a class="normaltip" href="kontakt.html" title="Kontakt">Kontakt</a> <a class="normaltip" href="downloads/2013_02_agb.pdf" title="Allgemeine Gesch&auml;ftsbedingungen">AGB's</a> <a class="normaltip" href="downloads/2008_03_Allgemeine_Einkaufsbedingungen.pdf" title="Allgemeine Einkaufsbedingungen">AEB's</a></p>
      </div>
        </div>
</footer>

    </body>
</html>
